<div class="container">
    <h1>WHAT IS LEAGUE OF LEGENDS?</h1>

<p>As of 22 September 2022, there are 161 champions available to play. Over the course of a match, champions gain levels 
    by accruing experience points (XP) through killing enemies. Items can be acquired to increase champions' strength, 
    and are bought with gold, which players accrue passively over time and earn actively by defeating the opposing team's 
    minions, champions, or defensive structures. In the main game mode, Summoner's Rift, items are purchased through a shop
     menu available to players only when their champion is in the team's base. Each match is discrete; levels and items do not 
     transfer from one match to another.</p>
<img src="/assets/photos/leaguebackground2.jpg">

</div>