<div class="container">
    <h1>WHAT IS LEAGUE OF LEGENDS WORLDS?</h1>

<p>The League of Legends World Championship (commonly abbreviated as Worlds) is the annual professional League of Legends 
    world championship tournament hosted by Riot Games and is the culmination of each season. Teams compete for the champion 
    title, the 70-pound (32-kilogram) Summoner's Cup, and a multi-million-dollar championship prize. In 2018, the final was 
    watched by 99.6 million people, breaking 2017's final's viewer record. The tournament has been praised for its ceremonial 
    performances, while receiving attention worldwide due to its dramatic and emotional nature.</p>
<img src="/assets/photos/Worlds_2018.webp" id = "worlds">
<h2>Past Winners:</h2>
<ul>
    <li>Edward Gaming (2021)</li>
    <li>Damwon Gaming (2020)</li>
    <li>FunPlus Phoenix (2019)</li>
    <li>Invictus (2018)</li>
    <li>Samsung Galaxy (2017)</li>
    <li>SK Telecom T1 (2016)</li>
</ul>
</div>